.md-title-table{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.mt-button{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.button-css{
    margin-right: 5px;
}