<div class="card">
    <h1>original Table</h1>
    <p-table [columns]="cols" [value]="products" dataKey="ProductID"
        (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)" (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)" selectionMode="multiple" [(selection)]="selectedProducts"
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    {{product[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="mt-button">
    <button pButton type="button" class="p-button-info button-css" (click)="shiftop()">Top</button>
    <button pButton type="button" class="p-button-info" (click)="shiftBottom()">Bottom</button>
</div>
<div class="card"> 
    <h1></h1>
    <p-table [columns]="cols" [value]="products1" dataKey="ProductID"
        selectionMode="multiple"  [(selection)]="selectedProductsBottom" (onHeaderCheckboxToggle)="onHeaderCheckboxToggleB($event)" (onRowSelect)="onRowSelectB($event)"
        (onRowUnselect)="onRowUnselectB($event)"
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of cols">
                    {{product[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>